<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/order.css">
    </head>

    <body>
        <div class="backdrop"></div>
<header class="main-header">
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header__item">
                <a class="<%= path === '/' ? 'active' : '' %>" href="/">Expense App</a>
            </li>
            
            
        </ul>
    </nav>
</header>

<nav class="mobile-nav">
        <ul class="mobile-nav__item-list">
                <li class="mobile-nav__item">
                    <a class="<%= path === '/' ? 'active' : '' %>" href="/">Expense List</a>
                </li>
            
            </ul>
</nav>
            <main>
        <form class="order-form" action="/" method="POST">
            <div class="form-control">
                <label for="amount">Amount : </label>
                <input type="number" name="amount" id="amount">
            </div>
            <div class="form-control">
                <label for="description">Description :</label>
                <input type="text" name="description" id="description" rows="5" >
            </div>
            <div>

            <label for="category">Category :</label>
            <select name="category" id="category">
                <option value="movies">Movies</option>
                <option value="transport">Transport</option>
                <option value="grocery">Grocery</option>
            </select>
            </div>
            <button class="btn" type="submit">Add Expense </button>
        </form>
    </main>

            <main>
                <% if (expenses.length > 0) { %>
                    <div class="grid">
                        <% for (let expense of expenses) { %> 
                            <div class="grid"> 
                                    <%= expense.amount %>
                                    <%= expense.description %>
                                    <%= expense.category %>
                                    <form action="/delete-expense" method="POST">
                                        <input type="hidden" value="<%= expense.id %>" name="expenseId" id="expenseId">
                                        <button class="btn" type="submit">Delete</button>
                                    </form>
                            </div>
                            <br>
                                <% } %>
                           
                                
                    <% } else { %>
                        <h1>No Expenses Found!</h1>
                        <% } %>
            </main>
        </body>

        </html>